<launch>
    <!--  ************** Global Parameters ***************  -->
    <param name="/use_sim_time" value="true"/>
    <arg name="controller"  default="pure_pursuit" doc="opt: dwa, mpc, pure_pursuit"/> 

    
    <!--  ************** Stage Simulator ***************  -->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find hypharos_minicar)/launch/Simulation/stage/maze_carlike.world">
        <remap from="base_scan" to="scan"/>
    </node>

    <!-- ODOMETRY -->
    <!--rf2o_Laser_Odometry-->
    <include file="$(find art_racecar)/launch/includes/rf2o.launch.xml" />
    <!-- Robot_Localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find art_racecar)/param/ekf_params.yaml" />
    </node>

    <!--  ************** Map Server **************  -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find hypharos_minicar)/launch/map/mymap.yaml" >
        <param name="frame_id" value="/map"/>
    </node>
     <!-- for amcl -->    
    <arg name="init_x" default="0.0" />
    <arg name="init_y" default="0.0" />
    <arg name="init_a" default="0.0" />
    <!-- Localization -->
    <!-- AMCL -->
    <include file="$(find art_racecar)/launch/includes/amcl.launch.xml" >-->
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>
    <!--  ************** Navigation ***************  -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" >
         <rosparam file="$(find art_racecar)/param/dwa_local_planner_params.yaml" command="load"/>
        <!-- costmap layers -->    
        <rosparam file="$(find art_racecar)/param/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find art_racecar)/param/global_costmap_params.yaml" command="load"/> 
        <!-- move_base params -->
        <rosparam file="$(find art_racecar)/param/base_global_planner_params.yaml" command="load"/>
        <rosparam file="$(find art_racecar)/param/move_base_params.yaml" command="load"/>
        <!--<remap from="/odom" to="/odometry/filtered"/> -->
        <param name="base_global_planner" value="navfn/NavfnROS"/>  
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>       
        <!--<param name="base_global_planner" value="global_planner/GlobalPlanner" />-->
        <!--<param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />-->
        <remap from="/cmd_vel" to="/fake_cmd" unless="$(eval controller == 'dwa')"/>
    </node>
    
    <!-- L1 controller -->  
    <node pkg="art_racecar" type="art_car_controller" respawn="false" name="art_car_controller" output="screen">       
        <!-- L1 -->
        <param name="Vcmd" value="1.6" /> <!-- speed of car m/s -->        
        <!-- ESC -->
        <param name="baseSpeed" value="1598"/> <!-- pwm for motor constant speed, 1500: stop --> 
 

        <!-- Servo -->
        <param name="baseAngle" value="90.0"/> <!-- the middle pos of servo, for tt02: 87, for hsp: ? -->
        <param name="AngleGain" value="-3.4"/> <!-- for tt02: >0, for hsp: <0 -->	
        <param name="GasGain" value="1.0"/>

        <!-- remap from="/odometry/filtered" to="odom" / --> 
        <remap from="/move_base_node/NavfnROS/plan" to="/move_base/NavfnROS/plan" /> 
    </node>

	<node pkg="hypharos_minicar" type="Pure_Pursuit" respawn="false" name="Pure_Pursuit" output="screen">       
       

    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hypharos_minicar)/launch/Simulation/params/rviz_navigation.rviz"/>
</launch>
